<h1>Pirate name: <%= @pirate.name %></h1>
<p>Pirate weight: <%= @pirate.weight %></p>
<p>Pirate height: <%= @pirate.height %></p>

<% @ships.each do |ship| %>
  <h2>Ship name: <%= ship.name %></h2>
  <h2>Ship type: <%= ship.type %></h2>
  <h2>Ship booty: <%= ship.booty %></h2>
<% end %>


<h2>Display your second ship here</h2>
