<h1>Pirate name: <%= @pirate.name %></h1>
<p>Pirate weight: <%= @pirate.weight %></p>
<p>Pirate height: <%= @pirate.height %></p>

<% @ships.each_with_index do |ship, index| %>
  <h2>Ship <%= index +1 %> name: <%= ship.name %></h2>
  <h2>Ship <%= index +1 %> type: <%= ship.type %></h2>
  <h2>Ship <%= index +1 %> booty: <%= ship.booty %></h2>
<% end %>


<h2>Display your second ship here</h2>
